/* Whole Nav Box Area */
.nav-bar-area {
  height: 10%;
  width: 100vw;
  background-color: #6c7775;
  /* background-color: #429998; */
  display: flex;
  position: fixed;
}

/* Nav Title Logo Area (left) */
.nav-title-area {
  display: flex;
  width: 50vw;
  justify-content: center;
}

.nav-title {
  color: #fff;
}

/* Nav Links Areas (right) */
.nav-links-areas {
  display: flex;
}

.nav-links-area-upper {
  width: 60vw;
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #fff;
}

.nav-links-area-lower {
  width: 60vw;
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #fff;
}
.nav-links-area-upper {
  width: 60vw;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-link {
  margin-right: 2vw;
  color: black;
}
