/* Whole Nav Box Area */
.nav-bar-area {
  height: 10%;
  width: 100vw;
  background-color: greenyellow;
  display: flex;
  position: sticky;
}

/* Nav Title Logo Area (left) */
.nav-title-area {
  display: flex;
  width: 50vw;
  justify-content: center;
}

.nav-title {
  color: blue;
}

/* Nav Links Areas (right) */
.nav-links-areas {
  display: flex;
}

.nav-links-area-upper {
  background-color: purple;
  width: 60vw;
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-links-area-lower {
  background-color: blue;
  width: 60vw;
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.nav-links-area-upper {
  background-color: purple;
  width: 60vw;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-link {
  margin-right: 2vw;
  color: black;
}
